body {
  padding-bottom: 5rem;
}

footer.mdl-mini-footer {
  bottom: 0;
  padding: 0.5rem;
  position: fixed;
  width: 100%;
  z-index: 1;
}

footer.mdl-mini-footer > ul {
  font-size: 2rem;
  margin: auto;
}

header {
  background: url(../images/background-image.jpg) center / cover;
  height: 60vh;
  justify-content: center;
  text-align: center;
}

h1 {
  color: hsla(188, 37%, 59%, 0.75);
  font-weight: bold;
}

main {
  max-width: 900px;
}

.project-description {
  padding-left: 0;
}

.Project img {
  width: 100%;
}

.slogan {
  color: hsla(193, 54%, 88%, 0.59);
  font-size: 1.6rem;
  font-weight: lighter;
}

@media screen and (max-width: 1024px) {
  header.mdl-layout__header {
    display: flex;
  }
}
